.skillsContainer {
    display: grid;
    width: 60rem;
    grid-template-rows: 0.8fr 0.4fr 5fr;
    margin-bottom: 15rem;
}
.skillsTittle {
    height: 4rem;
}

.skillsTittle h1 {
    height: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    font-stretch: expanded;
    margin: 0;
}
.skillsTittle hr {
    margin-left: 1rem;
    margin: 0;
    margin-top: 2.5rem;
    border: 2.5px solid #5d97b6;
    border-radius: 5px;
}

.skillsText {
    margin-top: -3rem;
    height: fit-content;
    color: #5d97b6;
    font-weight: 500;
}

.skillsContainer .skillSet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: content-box;
}

.skillsContainer .skillSet .card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12rem;
    width: 12rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 9px;
    background: #242424;
    box-shadow: 20px 20px 32px #1f1f1f,
        -20px -20px 32px #292929;
}
.skillsContainer .skillSet .card img {
    max-height: 10rem;
    max-width: 10rem;
}