.aboutContainer {
    display: grid;
    width: 60rem;
    margin-top: 17rem;
}

.aboutTittle hr {
    margin-left: 1rem;
    margin: 0;
    border: 2.5px solid #5d97b6;
    border-radius: 5px;
}

.about1 {
    width: 53rem;
    margin-top: -1rem;
}

.about2 {
    margin-bottom: 15rem;
    width: 53rem;
}