.Container {
    z-index: 5;
    display: grid;
    position: fixed;
    top: 0;
    transition: top 0.3s;
    width: 1320px;
    grid-template-columns: 10fr 3fr 1fr;
    background: #242424;
    box-shadow: 20px 20px 32px #1f1f1f,
        -20px -20px 32px #292929;
}

.boldNav {
    display: grid;
    width: 450px;
    grid-column: 2/3;
    grid-template-columns: repeat(5, 1fr);
}

.lightNav {
    display: grid;
    width: 130px;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 1rem;
}

.navBarBtn {
    cursor: pointer;
    font-weight: 500;
}

.navBarBtn:hover {
    color: #2c5d77;
}