.Container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 3fr;
    position: fixed;
    height: 60vh;
    width: 40px;
    z-index: 10;
    margin-top: 45vh;
    right: 0;
}

.Container hr {
    position: absolute;
    margin-top: 14rem;
    margin-left: 0.6rem;
    height: 17rem;
    border: 2.5px solid white;
    border-radius: 5px;
}

.GitHub {
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    border: none;
    background: #242424;
    /* background-image: url('src/assets/github-mark/github-mark/github-mark-white.svg'); */
    background-size: 1.5rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .2s;
}

.GitHub:hover {
    transform: scale(1.07);
}

.LinkedIn {
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    border: none;
    background: #242424;
    /* background-image: url('src/assets/LinkedIn.svg'); */
    background-size: 1.5rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .2s;
}


.LinkedIn:hover {
    transform: scale(1.07);
}


.Mail {
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    border: none;
    background: #242424;
    /* background-image: url('src/assets/mail.svg'); */
    background-size: 1.5rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .2s;
}


.Mail:hover {
    transform: scale(1.07);
}

.PDFicon {
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    border: none;
    background: #242424;
    /* background-image: url('src/assets/PDF.svg'); */
    background-size: 1.5rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .2s;
}

.PDFicon:hover {
    transform: scale(1.07);
}